@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: rgb(212, 212, 212);
  --background-color: rgb(16, 48, 119);
  --background-color-dark: rgb(10, 30, 75);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background: repeating-linear-gradient(200deg, #020617, #020617 , #011817,  #020617 );
color: var(--text-color);
background-color:#020617;
height: 100%;
min-height: 100vh;
background-repeat: no-repeat;
display: flex;
flex-direction: column;
align-items: center;
width: 100%;

}

ul{
  list-style: none;
}

button{
  background-color: var(--background-color);
  color: white;
  padding: .5rem 1rem;
  border: 2px solid var(--background-color-dark);
}
